/* Contacts */
.contact{
    background-color: #7A6ad8;
    padding: 5px;
    border-radius: 20px;
    margin: 0 auto;
    width: 90%;
    margin-bottom:55px;
}
.text-center{
    margin-top: 60px;
}
.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.text_area{
    width:100%;
}
.contact input,.contact input:focus,input::placeholder{
    background-color: #6d5ec2;
    width: 70%;
    margin-top:10px;
    padding-left:10px ;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    border-radius: 50px;
}
.contact textarea,.contact textarea:focus{
    background-color: #6d5ec2;
    width: 90%;
    border: none;
    outline: none;
    color: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-right: 300px;
    padding-top: 10px;
    margin:0 auto;
}
.contact textarea::placeholder{
    color: white;
}
.contact button{
    background-color: #6d5ec2;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    margin-bottom:5px;
}