{% extends "base.html" %}
{% load static %}

{% block title %}
About
{% endblock title %}
{% block style%}
<link rel="stylesheet" href="{% static 'css/abouts.css' %}">
{% endblock style%}

{% block extrahead %}
<style>
    #skills{
        margin-bottom: 67px;
    }
</style>
{% endblock extrahead %}

{% block content %}
    <!-- main banner -->
    <section class="bgimage" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h2 class="hero_title">Hi, it's me Bright</h2>
                    <p class="hero_desc">I am a professional freelancer in Lagos State Nigeria</p>
                </div>
            </div>
        </div>
    </section>

    <!-- about section-->
    <section>
        <div class="container mt-4 pt-4" id="about">
            <h1 class="text-center">About Me</h1>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <img src="{% static 'image/me.jpg' %}" class="imageAboutPage" alt="">
                </div>

                <div class="col-lg-8">
                    <p>
                        Looking towards the future, I am excited to continue my journey in tech and learn even more
                        about emerging technologies. My goal is to broaden my skill set and gain a deeper understanding
                        of development practices by tackling diverse projects that test my abilities.
                    </p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <ul>
                                <li>Name: John Bright</li>
                                <li>Age: 19</li>
                                <li>Occupation: Web Developer</li>

                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p>
                            By doing so, I aim to become a versatile developer capable of creating transformative
                            digital solutions.
                            If there's one thing that defines me, it's my insatiable thirst for knowledge and personal
                            growth. I believe that anyone who approaches life with an open mind and a willingness to
                            constantly learn is bound to achieve great things. I live by the motto, "Never stop
                            learning," knowing that each new challenge I undertake is an opportunity to expand my
                            horizons and create something exceptional.
                            And that's me, John Bright - a web developer whose love for coding drives every aspect of my
                            life, both personally and professionally. Whether it's through crafting elegant code or
                            seeking out new challenges, I am committed to making a lasting impact in the tech world.
                        </p>
                    </div>
                </div>
            </div>
    </section>
    <section id="skills">
        <div class="container mt-3">
            <h1 class="text-center">Skills</h1>
            <div class="row">
                {% for skill in skill %}
                <div class="col-md-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="{{skill.skill_image.url}}" alt="Card image" style="width:100%">
                        <div class="card-body text-center">
                            <h4 class="card-title">{{skill.name}}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>

{% endblock content %}
